.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.maxWidthWrapper {
}

.header {
  padding-bottom: 64px;
  width: 65%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40%;
  background-color: hsl(0deg, 0%, 80%);
}

.characterWrapper svg {
  width: 100%;
  position: fixed;
  top: 50px;
  left: 65%;
  min-height: 500px;
  width: 500px;
}

.controlColumn {
  isolation: isolate;
  width: 50%;
  position: relative;
}

@media (max-width: 720px) {

  .header {
    width: 100%;
  }

  .controlColumn {
    position: relative;
    width: 100%;
    top: -70vw;
    white-space: nowrap;
    overflow: auto;
  }

  .characterWrapper {
    position: relative;
    background: transparent;
  }

  .characterWrapper svg {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 0px;
  }
}